# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=SASL_SSL://pkc-zpjg0.eu-central-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=6NMZSIVDAWEIII5T
sasl.password=2IV3ONQTxEsE2LG8SRwllSyntj7PN7BjTDBSHFFGawJwcKMIOs0/thNbMgBXbZ6L

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000